
<ion-view view-title="Scribes">


  <ion-header-bar align-title="left" class="bar bar-clear bar-top">
    <div>Scribes</div>
  </ion-header-bar>  

  <ion-header-bar class="bar-subheader bar">
      <ti-segmented-control on-select="buttonClicked($index)" style="width: 300px;">
      <ti-segmented-control-button id="1" class="button-royal" selected ng-click="segment(1)">All</ti-segmented-control-button>
      <ti-segmented-control-button id="2" class="button-royal" ng-click="segment(2)">Ongoing</ti-segmented-control-button>
      <ti-segmented-control-button id="3" class="button-royal" ng-click="segment(3)">Done</ti-segmented-control-button>
    </ti-segmented-control>
  </ion-header-bar>


  <ion-content class="padding">





    <ion-list class="myList">
    <div  class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="todo in list | filter :{ done: seg } track by $index" class="">
      <div id="item-{{todo.id}}">
        <div class="prompt">
          <div class="checkIt">DONE</div>
          <div class="deleteIt">DELETE</div>
        </div>
        <ion-item id="white-{{todo.id}}" on-drag="onItemDrag()" on-release="releaseItem()" class="myItem">
          <div id="check-{{todo.id}}" class="checkBox {{todo.done}}" ng-click="check({{todo.id}})"></div>{{todo.text_}}
          <div class="itemDrawing">
          <a ng-href="#/tab/detail" ng-click="getIndex('{{todo.drawing}}')">
            <img src="{{todo.drawing}}">
          </a>
          </div>
        </ion-item>
      </div>
    </div>
    </ion-list>


  </ion-content>


  <ion-footer-bar align-title="left" id="footer1" class="bar-assertive">
      <div id="myCanvas" style="visibility: hidden;">
      <div class="literally"></div>
      <div class="switcher" ng-click="switchColor()" style="visibility: hidden;"></div>
    </div>
    <input placeholder="New scribe"></input>

    <button id="drawButton" ng-click="showCanvas()"></button>
    <button id="plusButton" ng-click="saveNewTodo()"></button>


  </ion-footer-bar>
</ion-view>
