/* Empty. Add your own CSS if you like */
button {
	border: none;
}
.bar-assertive{
	bottom: 0px !important;
}
.bar-header.disable-user-behavior {
	background-color: transparent;
}

.bar-top {
	border-bottom: none !important;
	border: none !important;
}
.bar-subheader {
	border-top: none !important;
}
.tab-nav.tabs {
	display: none !important;
}
.bar-assertive.bar.bar-footer.has-tabs {
	border:none !important;
}
/*.bar-stable.bar.bar-header.disable-user-behavior{
	display: none !important;
}
*/.padding.scroll-content.ionic-scroll .has-header.has-footer.has-tabs {
	border-radius: 13px !important;
}
.pane {
	background: -webkit-linear-gradient(#FF855A, #D90060) !important; /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(#FF855A, #D90060) !important; /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#FF855A, #D90060) !important; /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#FF855A, #D90060) !important; /* Standard syntax */ 
}

#plusButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../img/plus_button.png) no-repeat;
	background-size: 40px 40px;
	background-position: center center;
	margin: auto;
}

#plusButton.activated {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../img/plus_button_activated.png) no-repeat;
	background-size: 40px 40px;
	background-position: center center;
	margin: auto;
}
#drawButton {
	width: 40px;
	height: 40px;
	background: url(../img/draw.svg) no-repeat;
	background-size: 35px 35px;
	background-position: center center;
	margin: auto;
	margin-right: 50px;
}
#drawButton.filled {
	width: 40px;
	height: 40px;
	background: url(../img/draw_filled.svg) no-repeat;
	background-size: 35px 35px;
	background-position: center center;
	margin: auto;
	margin-right: 50px;
}
#drawButton.filled.activated {
	width: 40px;
	height: 40px;
	background: url(../img/draw_filled_activated.svg) no-repeat;
	background-size: 35px 35px;
	background-position: center center;
	margin: auto;
	margin-right: 50px;
}

#drawButton.activated {
	width: 40px;
	height: 40px;
	background: url(../img/draw_activated.svg) no-repeat;
	background-size: 35px 35px;
	background-position: center center;
	margin: auto;
	margin-right: 50px;
}

#myCanvas {
	width: 100%;
	height: 100% !important;
}

.bar>div {
	margin: auto;
	font-family: HelveticaNeue-Thin;
	font-size: 30px;
	color: #fff;
	text-align: left !important;
}


.myItem {
	position: relative;
	border: none !important;
	height: auto;
	width: auto;
	margin: auto;
	border-radius: 13px;
	bottom: 81px;
	margin-bottom: -70px;
	vertical-align: middle;
	font-family: HelveticaNeue-Thin;
	font-size: 24px;
	background: url(../img/grip.svg) no-repeat;
	background-position: center 10px;
	background-size: auto 7px;
	background-color: rgba(255,255,255,1.0) !important;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.50);
}
.prompt {
	padding: 8px;
	padding-top: 21px;
	width: auto;
	height: 68px;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 13px;
}
.prompt>.checkIt {
	opacity: 0.0;
	color: #20E286;
	font-family: HelveticaNeue-Thin;
	font-size: 30px;
	float: left;
}
.prompt>.deleteIt {
	opacity: 0.0;
	color: #FFFFFF;
	font-family: HelveticaNeue-Thin;
	font-size: 28px;
	float: right;
}
.myList{
	padding-bottom: 50px !important;
}
.checkBox {
	margin-right: 22px;
	float: left;
	width: 35px;
	height: 35px;
}
.checkBox.true {
	background: url(../img/checked.png) no-repeat;
	background-size: cover;
	background-position: center center;
}
.checkBox.false {
	background: url(../img/unchecked.png) no-repeat;
	background-size: cover;
	background-position: center center;
}
.addMenu-container {
	z-index: 31;
	position: absolute;
	width: 100%;
	height: 100vh;
	padding-top: 50vh;
	top: 0vh;
	visibility: hidden;
}
.addMenu {
	margin: auto;
	position: relative;
	margin-top: -64px;
	width: 360px;
	height: auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.50);
	border-radius: 13px;
	padding: 10px;
	font-family: HelveticaNeue-Thin;
}
.addMenu>p {
	font-size: 36px;
	color: #53574F;
	width: 100%;
	text-align: center;
}
.addMenu>input {
	border-radius: 0px;
	border: none;
	border-bottom: solid 2px #53574F;
	width: 100%;
	height: 40px;
	font-size: 26px;
	margin-top: 30px;
	background-color: transparent !important;
	font-family: HelveticaNeue-Light;
}

.arrowDown {
	margin-top: 12px;
	margin-bottom: 0px;
	width: 100%;
	height: 10px;
	background: url(../img/arrow_down.svg) no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#footer1 {
	background-color: rgba(255,255,255,0.90) !important;
	border-color: none !important;
	background-image: none !important;
	padding-bottom: 0px !important;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}
#footer1.dark {
	background-color: rgba(0,0,0,0.8) !important;
	-webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.list {
	padding-bottom: 60px !important;
}
#footer1>input {
	color: #000;
	position: absolute;
	left: 10px;
	height: 40px;
	width: 65%;
	border: none;
	background: transparent;
	font-size: 25px;
	padding-bottom: 5px;
}
#footer1>button {
	position: absolute;
	right: 10px;
}
.lc-picker {
	position: absolute!important;
	height: 94px !important;
	width: 100% !important;
	bottom: 0px !important;
}

div[title=Pencil] {
	background: url(../img/pencil.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}  

div[title=Pencil].selected {
	border: none !important;
	background: url(../img/pencil_filled.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}
div[title=Pencil]:active {
	background: url(../img/pencil_activated.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}  

div[title=Pencil].selected:active {
	border: none !important;
	background: url(../img/pencil_filled_activated.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}
div[title=Eraser] {
	background: url(../img/eraser.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}  

div[title=Eraser].selected {
	border: none !important;
	background: url(../img/eraser_filled.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}
div[title=Eraser]:active {
	background: url(../img/eraser_activated.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}  

div[title=Eraser].selected:active {
	border: none !important;
	background: url(../img/eraser_filled_activated.png) no-repeat !important;
	width: 51px !important;
	height: 75px !important;
	background-position:center top !important;
	background-size: 48px !important;
}

.lc-undo-redo {
	position: absolute !important;
	bottom: 20px;
	right: 10px;
}
.lc-redo {
	display: none !important;
}

div[title=Undo] {
	background: url(../img/Undo.svg) no-repeat !important;
	width: 80px !important;
	height: 40px !important;
	background-position:left top !important;
	background-size: 80px 40px !important;
}  

#myCanvas>.switcher {
	background-color: #000;
	border-radius:  50%;
	border: solid 4px #DE125F;
	z-index: 20;
	position: absolute;
	bottom: 10px;
	width: 40px !important;
	height: 40px !important;
	margin-left: -20px;
	left: 50%;
}
.itemDrawing {
	width: 100%;
	max-height: auto;
}
.itemDrawing>img {
	position: relative;
	right: 50px;
}

.lc-drawing {
	background-color: #fff !important;
	border-radius: 10px !important;  
	margin: auto !important;
	width: 95vw !important;
	height: 80% !important;
	margin-top: 60px !important;
	-webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.67);
	-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.67);
	box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.67);
}
.lc-drawing>canvas {
	height: 100% !important;
}
.blur  {
	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}